<%= search_form_for(
      @q,
      url: search_path,
      html: { method: :post }
      ) do |f| %>

  <div class="field">

    <%= f.label :name_cont %>
    <%= f.text_field :name_cont %>

    <%= f.label :crn_cont %>
    <%= f.text_field :crn_cont %>


    <%= f.label :professor_name_cont %>
    <%= f.search_field :professor_name_cont %>

    <%= f.label :department_name_cont %>
    <%= f.search_field :department_name_cont %>

    <%= f.submit "Search!", class: "btn btn-primary" %>

  </div>

<% end %>
